/* color pallet */
:root{
    --bgColor_t: #57a857;
    /* --color_t: rgb(236, 240, 205); */
    /* --color_t: rgb(255, 85, 55); */
    
    --bgColor_c:rgb(249, 251, 251);
    --color_c: rgb(20, 17, 17);
    
    --bgColor_i: rgb(236, 240, 205);
    --color_i: rgb(63, 40, 40);
    
    --bgColor_s: #57a857;
    --color_s: black;
    
    --bgColor_l: rgb(236, 240, 205);
    --color_l: rgb(236, 240, 205);
}


body{
    margin: 0;
}

#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.5fr 17fr 3fr;
    grid-template-areas: 
    "t t t"
    "c c c"
    "i s l";
    
    border: 0.5vh solid rgb(87, 5, 5); 
    height: 99vh;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Aligning Text */
#timer, #noItems, #start, #level{
    display: flex;
    align-items: center;
    justify-content: center;
}

.burgerLogo{
    position: absolute;
    height: 4vh;
    width: 4vw;
    left:0;

}

#timer{
    grid-area: t;
    background-color: var(--bgColor_t);
    position: relative;

    /* color: var(--color_t); */ /* color declared on render, depends on the time */
    font-family: 'Lilita One', cursive;
    font-size: 2.5vw;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#capsule{
    grid-area: c;
    background-color: var(--bgColor_c);
    position: relative;
    cursor: url('img/pacman.png'), default;
}

#noItems{
    grid-area: i;
    background-color: var(--bgColor_i);
    font-family: 'Biryani', sans-serif;
    font-size: 1.75vw;
}

#start{
    grid-area: s;
    background-color: var(--bgColor_s);
    font-family: 'Shojumaru', cursive;
    font-size: 2.5vw;
}

#level{
    grid-area: l;
    background-color: var(--bgColor_l);
    font-family: 'Biryani', sans-serif;
    font-size: 1.75vw;
}